# global ignores
.DS_Store
build/
bin/
*.log
lib/

# theia-turn ignores
.idea/
.browser_modules/
webpack.config.js
src-gen/
turn-language-server.zip
.nyc_output
node_modules/
artifacts/
bundle.js
bundle.js.map

# turn-lsp ignores
.eclipse
.gradle/
model/
xtend-gen/
xtext-gen/
