.ucm-node {
    color: var(--text-color);
    fill: var(--node-color);
}

.ucm-edge {
    fill: none;
    stroke: var(--edge-color);
    stroke-width: 5;
}

.resp-node {
    stroke: var(--node-color);
    stroke-width: 10;
}

.ucm-label {
    stroke-width: 0;
    fill: var(--text-color);
    font-size: 1.5em;
    font-weight: inherit;
    text-align: inherit;
}

.traversed-node {
    --node-color: red;
    --edge-color: red;
}